.messageBody::before{
    content:'';
    display:block;
    height:20vh;
}
.messageBody::after{
    content:'';
    display:block;
    height:8vh;
}
.messageBody{
    height:97vh;
    margin-bottom:3vh;
    display: grid;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 30px;
    height: 50%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
  }